#fancybox-loading {
	MARGIN-TOP: -20px; DISPLAY: none; Z-INDEX: 1104; LEFT: 50%; MARGIN-LEFT: -20px; OVERFLOW: hidden; WIDTH: 40px; CURSOR: pointer; POSITION: fixed; TOP: 50%; HEIGHT: 40px
}
 HTML #fancybox-loading {
	MARGIN-TOP: 0px; POSITION: absolute
}
#fancybox-loading DIV {
	LEFT: 0px; BACKGROUND-IMAGE: url(fancybox.png); WIDTH: 40px; POSITION: absolute; TOP: 0px; HEIGHT: 480px
}
#fancybox-overlay {
	DISPLAY: none; Z-INDEX: 1100; RIGHT: 0px; BACKGROUND: #000; LEFT: 0px; BOTTOM: 0px; POSITION: fixed; TOP: 0px
}
 HTML #fancybox-overlay {
	WIDTH: 100%; POSITION: absolute
}
#fancybox-tmp {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#fancybox-wrap {
	PADDING-RIGHT: 20px; DISPLAY: none; PADDING-LEFT: 20px; Z-INDEX: 1101; LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 0px; PADDING-TOP: 20px; POSITION: absolute; TOP: 0px
}
#fancybox-outer {
	BACKGROUND: #fff; WIDTH: 100%; POSITION: relative; HEIGHT: 100%
}
#fancybox-inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 1px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 1px; outline: none
}
#fancybox-hide-sel-frame {
	BACKGROUND: none transparent scroll repeat 0% 0%; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%
}
#fancybox-close {
	BACKGROUND-POSITION: -40px 0px; DISPLAY: none; Z-INDEX: 1103; RIGHT: -15px; BACKGROUND-IMAGE: url(fancybox.png); WIDTH: 30px; CURSOR: pointer; POSITION: absolute; TOP: -15px; HEIGHT: 30px
}
#fancybox_error {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; MARGIN: 0px; FONT: 12px/20px Arial; COLOR: #444; PADDING-TOP: 7px
}
#fancybox-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px; HEIGHT: auto
}
#fancybox-img {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 100%; BORDER-TOP-STYLE: none; LINE-HEIGHT: 0; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 100%; BORDER-BOTTOM-STYLE: none; outline: none; ms-interpolation-mode: bicubic
}
#fancybox-frame {
	DISPLAY: block; WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; HEIGHT: 100%; BORDER-BOTTOM-STYLE: none
}
#fancybox-title {
	FONT-SIZE: 12px; Z-INDEX: 1102; LEFT: 0px; BOTTOM: 0px; FONT-FAMILY: Arial; POSITION: absolute
}
.fancybox-title-inside {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; COLOR: #333; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.fancybox-title-outside {
	FONT-WEIGHT: bold; COLOR: #fff; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.fancybox-title-over {
	COLOR: #fff; TEXT-ALIGN: left
}
#fancybox-title-over {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(fancy_title_over.png); PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#fancybox-title-wrap {
	DISPLAY: inline-block
}
#fancybox-title-wrap SPAN {
	FLOAT: left; HEIGHT: 32px
}
#fancybox-title-left {
	BACKGROUND-POSITION: -40px -90px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(fancybox.png); BACKGROUND-REPEAT: no-repeat
}
#fancybox-title-main {
	BACKGROUND-POSITION: 0px -40px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(fancybox-x.png); COLOR: #fff; LINE-HEIGHT: 29px
}
#fancybox-title-right {
	BACKGROUND-POSITION: -55px -90px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(fancybox.png); BACKGROUND-REPEAT: no-repeat
}
#fancybox-left {
	DISPLAY: none; Z-INDEX: 1102; BACKGROUND-IMAGE: url(blank.gif); WIDTH: 35%; CURSOR: pointer; BOTTOM: 0px; POSITION: absolute; HEIGHT: 100%; outline: none
}
#fancybox-right {
	DISPLAY: none; Z-INDEX: 1102; BACKGROUND-IMAGE: url(blank.gif); WIDTH: 35%; CURSOR: pointer; BOTTOM: 0px; POSITION: absolute; HEIGHT: 100%; outline: none
}
#fancybox-left {
	LEFT: 0px
}
#fancybox-right {
	RIGHT: 0px
}
#fancybox-left-ico {
	MARGIN-TOP: -15px; DISPLAY: block; Z-INDEX: 1102; LEFT: -9999px; WIDTH: 30px; CURSOR: pointer; POSITION: absolute; TOP: 50%; HEIGHT: 30px
}
#fancybox-right-ico {
	MARGIN-TOP: -15px; DISPLAY: block; Z-INDEX: 1102; LEFT: -9999px; WIDTH: 30px; CURSOR: pointer; POSITION: absolute; TOP: 50%; HEIGHT: 30px
}
#fancybox-left-ico {
	BACKGROUND-POSITION: -40px -30px; BACKGROUND-IMAGE: url(fancybox.png)
}
#fancybox-right-ico {
	BACKGROUND-POSITION: -40px -60px; BACKGROUND-IMAGE: url(fancybox.png)
}
#fancybox-left:hover {
	VISIBILITY: visible
}
#fancybox-right:hover {
	VISIBILITY: visible
}
#fancybox-left:hover SPAN {
	LEFT: 20px
}
#fancybox-right:hover SPAN {
	RIGHT: 20px; LEFT: auto
}
.fancy-bg {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; Z-INDEX: 1001; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 20px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
#fancy-bg-n {
	LEFT: 0px; BACKGROUND-IMAGE: url(fancybox-x.png); WIDTH: 100%; TOP: -20px
}
#fancy-bg-ne {
	BACKGROUND-POSITION: -40px -162px; RIGHT: -20px; BACKGROUND-IMAGE: url(fancybox.png); TOP: -20px
}
#fancy-bg-e {
	BACKGROUND-POSITION: -20px 0px; RIGHT: -20px; BACKGROUND-IMAGE: url(fancybox-y.png); TOP: 0px; HEIGHT: 100%
}
#fancy-bg-se {
	BACKGROUND-POSITION: -40px -182px; RIGHT: -20px; BACKGROUND-IMAGE: url(fancybox.png); BOTTOM: -20px
}
#fancy-bg-s {
	BACKGROUND-POSITION: 0px -20px; LEFT: 0px; BACKGROUND-IMAGE: url(fancybox-x.png); WIDTH: 100%; BOTTOM: -20px
}
#fancy-bg-sw {
	BACKGROUND-POSITION: -40px -142px; LEFT: -20px; BACKGROUND-IMAGE: url(fancybox.png); BOTTOM: -20px
}
#fancy-bg-w {
	LEFT: -20px; BACKGROUND-IMAGE: url(fancybox-y.png); TOP: 0px; HEIGHT: 100%
}
#fancy-bg-nw {
	BACKGROUND-POSITION: -40px -122px; LEFT: -20px; BACKGROUND-IMAGE: url(fancybox.png); TOP: -20px
}
.fancybox-ie#fancybox-loading DIV {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_loading.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-close {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_close.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-title-over {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_title_over.png', sizingMethod='scale'); ZOOM: 1
}
.fancybox-ie #fancybox-title-left {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_title_left.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-title-main {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_title_main.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-title-right {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_title_right.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-left-ico {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_nav_left.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-right-ico {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_nav_right.png', sizingMethod='scale')
}
.fancybox-ie .fancy-bg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.fancybox-ie #fancy-bg-n {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_n.png', sizingMethod='scale')
}
.fancybox-ie #fancy-bg-ne {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_ne.png', sizingMethod='scale')
}
.fancybox-ie #fancy-bg-e {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_e.png', sizingMethod='scale')
}
.fancybox-ie #fancy-bg-se {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_se.png', sizingMethod='scale')
}
.fancybox-ie #fancy-bg-s {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_s.png', sizingMethod='scale')
}
.fancybox-ie #fancy-bg-sw {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_sw.png', sizingMethod='scale')
}
.fancybox-ie #fancy-bg-w {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_w.png', sizingMethod='scale')
}
.fancybox-ie #fancy-bg-nw {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_nw.png', sizingMethod='scale')
}


body {
	background-color: #000000;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font:Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height:150%;
}
.STYLE2 {color: #999999}
ul{list-style:none; margin:0; padding:0;}
a{
    color:#333;
    text-decoration:none;
}
img{border:0px;}
.hot{
    position:relative;
    width:530px;
    height:212px;
}
.num{
    position:absolute;
    right:6px;
    bottom:4px;
}
.num li{
    float:left;
    height:21px;
    width:24px;
    margin-right:3px;
}
.num li a{
    display:block;
    font-weight:bold;
    text-align:center;
}
.num_other{
    color: #B50000;
    background: #DFDFDF;
}
.num_now{
    color:#FFF;
    background: #B50000;
}
.STYLE10 {	COLOR: #ffffff
}
.STYLE9 {	FONT-FAMILY: Arial, Helvetica, sans-serif
}