<div class="Footer">
  <div class="FootCon">
    <div class="bqCon col_1">
      <p class="">热线电话：400-668-6877</p>
      <p class="">公司地址：上海市闵行区颛兴路1688号</p>
    </div>
    <div class="FootNav col_2">
    <p>Copyright©2015 上海庄园时代版权所有  沪ICP备14010896号-3</p>
      <a href="/index.php?c=article&a=type&tid=89">策论联盟</a>   <a href="/index.php?c=article&a=type&tid=70">联系我们</a>   <a href="/">网站地图</a>   <a href="/index.php?c=article&a=type&tid=90">友情链接</a> <span class="onmouse"><a href="#">微信码扫一扫版</a></span>
			<div class="show_wx_s top_s"><img src="{$GLOBALS['skin']}images/wx.png"></div>
    </div>
  </div>
</div>