
<script src="{$GLOBALS['skin']}js/jquery-1.8.1.js"></script>

<script type="text/javascript">
<!--			
			jQuery(function($){
				 $(".onmouse").mouseenter(function(){
	                $('.show_wx_s').show();
	            }).mouseleave(function(){
	                $('.show_wx_s').hide();
	            });
				 $("#menu li").mouseenter(function() {
		             $(this).addClass('active').show();
		          }).mouseleave(function() {
		             $(this).removeClass('active');
		           })
         });
//-->
</script>
