<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>杭州天道建材有限公司</title>
<link type="text/css" rel="stylesheet" href="css/head.css" />
<link type="text/css" rel="stylesheet" href="css/main.css" />
<link type="text/css" rel="stylesheet" href="css/footer.css" />
<script language="javascript" type="text/javascript" src="js/jquery.min.js"></script>


</head>

<body style="background:#E6E6E6">


<div class="wrap w956" id="ny_index">
<div id="n-news">13°c ~ 16°c <a href="#">日夜溫差大, 洋蔥式穿衣法讓您隨時都可以獲得最</a></div>

  <div class="col_1 w198 n-left">
    <div class="logo"><a href="/"><img src="images/logo2.png" border="0"  /></a></div>
	<div class="iMenu2">
	  <ul>
	    <li><a href="#">首页 </br>
		    <em>HOME</em></a></li>
	    <li><a href="#">卓维庄园 </br>
		    <em>Zhuowei Manor </em></a></li>
	    <li><a href="#">项目介绍  </br>
		    <em>Project Description </em></a></li>
	    <li><a href="#">生活方式 </br>
		    <em>Lifestyle </em></a></li>
	    <li><a href="#">策略联盟 </br>
		    <em>Union strategy </em></a></li>
	    <li><a href="#">健康智库  </br>
		    <em>Health think tank </em></a></li>
	    <li><a href="#">线上预约 </br>
		    <em>Book Online</em></a></li>
	    <li><a href="#">联系我们 </br>
		    <em>Contact Us</em></a></li>
      </ul>
	</div>
		  <div class="n-search"><input type="text" class='input_r'  name="search" placeholder="search"/><input type="button" class='input_b' /></div>

  </div>
  <div class="col_2 w728 n-right">
  <div class="loc"><a href="/" class="lans">首页</a> > <a href="#">关于我们</a> </div>
  <div class="tit"><img src="images/about.png" /></div>
  <div class="con">
    <p>阿斯达飒飒大师大师顶顶顶顶阿斯达飒飒大师大师顶顶顶顶阿斯达飒飒大师大师顶顶顶顶阿斯达飒飒大师大师顶顶顶顶阿斯达飒飒大师大师顶顶顶顶阿斯达飒飒大师大师顶顶顶顶阿斯达飒飒大师大师顶顶顶顶阿斯达飒飒大师大师顶顶顶顶阿斯达飒飒大师大师顶顶顶顶阿斯达飒飒大师大师顶顶顶顶阿斯达飒飒大师大师顶顶顶顶阿斯达飒飒大师大师顶顶顶顶阿斯达飒飒大师大师顶顶顶顶</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  </div>
  <div class="clear"></div>
</div>
<div id="end_bg">
	<div class="wrap w980">
	<div class="col_1"><a href="#">首页</a>   |    <a href="￥">卓维庄园</a>   |    <a href="￥">项目介绍</a>   |    <a href="￥">生活方式</a>   |    <a href="#">策略联盟</a>   |    <a href="#">健康智库</a>   |    <a href="#">线上预约</a>   |    <a href="#">联系我们</a></div>
	
	<div class="col_2">© Copyright © 2013.Company name All rights reserved.</div></div>
</div>
</body>

</html>
