<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<META content="IE=10.000" http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$article['title']}-{$GLOBALS['S']['title']}</title>
<meta name="keywords" content="{$type['keywords']} " />
<meta name="description" content="{$type['description']} " />
<link type="text/css" rel="stylesheet" href="{$GLOBALS['skin']}css/head.css" />
<link type="text/css" rel="stylesheet" href="{$GLOBALS['skin']}css/main.css" />
<link type="text/css" rel="stylesheet" href="{$GLOBALS['skin']}css/footer.css" />

<script type="text/javascript">
var site_dir="{$GLOBALS['WWW']}";
</script>
{include="jscss.html"}

</head>

<body class="ny_bg">
{include="head.html"}

 <div class="main">
  <div class="wrap w980">
    <div class="main_bt">
     {$positions}
    </div>
    <div class="clearfix">
      <div class="left_cont">
        <div class="left_nav">
        <dl>
        <dt>{$type['classname']}</dt>
        {loop table="classtype" mshow="1" pid='69' limit="11"}
        <dd {if($v['tid']==$type['tid'])} class="current"{/if}><a href="{$v['url']}" >{$v['classname']}</a></dd> 
        {/loop}
        </dl>
        </div>  

        <div class="left_box">
        <ul>
        <li><img src="{$GLOBALS['skin']}images/index_01.jpg"></li>
        <li><img src="{$GLOBALS['skin']}images/index_02.jpg"></li>
        </ul>

        </div>
      </div>
      <div class="right_cont">
        <div class="about">
          <h2>{$type['classname']}</h2>
               <div class="c bt"><h3>{$article['title']}</h3></div>
    <div class="c t">发布时间：{fun date('Y-m-d H:i:s',$article['addtime'])} 点击：<script src="{$GLOBALS['WWW']}index.php?c=article&a=hits&id={$article['id']}" type="text/javascript"></script></div>
    <div class="c f2">{$article['body']}</div>
        <div class="c"><ul class="pages">{$pages}</ul></div>
        <div class="c prev">
          {if($aprev)}上一篇：<a href="{$aprev['url']}">{$aprev['title']}</a>{/if}
            {if($anext)}下一篇：<a href="{$anext['url']}">{$anext['title']}</a>{/if}
        </div>

            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

{include="footer.html"}
  
</body>
</html> 